body{
    background-color: rgb(125, 255, 125);
    margin: 1%;
    padding: 3%;
    border: 5px solid darkgoldenrod;
    /* display:flex;
    flex-direction: column; */
}

nav{
    background-color: rgb(77, 117, 3);
    display:flex;
    margin: 10%;
    width:auto;    
}

table, tr, th, td{
    border: 1px solid black;
}