/* styles for the body of all web pages */
body{
    /* background-color: rgb(125, 255, 125); */
    background: linear-gradient(#04c04c, #ffff3f);
    margin: 1%;
    padding: 1%;
    border: 5px solid rgb(231, 174, 29);
    /* height:570px; */
    height: fit-content;
    width:auto;
    justify-items: center;
}

nav{
    background-color: rgb(117, 106, 3);
    display:flex;
    margin: 1%;
    width:90%;
    justify-content: center;
}

nav>ul{
    margin: auto 30%;
    width: 20%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

nav>ul>li {
    border: 1px solid black;
    margin: auto 15%;
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}

table, tr, th, td{
    border: 1px solid black;
    /* justify-content: center; */
}

table{
    margin-bottom: 10px;
    width:100px;
    /* display:flex; */
    justify-content: center;
    background-color: rgb(172, 84, 2);

}

/* tr{
    height: 20px;
    width: 20px;
} */
.tableContent> p, select, option {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
}

#Emojis, select{
    width:50px;
    height:50px;
    border: 3px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* img{ this overrides my inline
    height: auto;
    width: auto;
} */

.quizzes {
    border: 1px solid rgb(138, 14, 14);
    padding: 1%;
    height: 75%;
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content:space-evenly;
}

.quiz1, .quiz2, .quiz3 {
    /* border: 1px solid black; */
    margin:3%;
    width: fit-content;
    height:auto;
    /* display: flex; */
    /* flex-direction: column; */
}

.Answer{
    border: 1px solid purple;
    margin:20px;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    /* transition-property: height, padding-left, padding-right;
    transition-duration: 1s;
    transition-timing-function: ease-in-out; */

    /* transform: rotate(2deg); */
}

.Answer:hover{
    /* height: 25px;
    padding-left: 7px;
    padding-right: 7px; */

    transform: scale(1.1);

    /* width: 100%; */

    /* transition: height =25px 1s;
    transition: width =489.312px 1s; */
    /* transform: rotate(2deg); */
}

/* .quiz1>form>.Ans3, .quiz2>form>.Ans2, .quiz3>form>.Ans1 :hover{
    transition: ;
} */